<div class="globalContainer">
    <app-header></app-header>
    <div class="bgHome">
        <div class="row titleDiv">
            <div class="col-lg-6">
                <div><p>Welcome to the website where buying or selling a house is easy, fast and cheap</p></div>
                
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 buttonContainer">
                <a href="/vendor">I want to sell</a>
                <span></span>
                <a href="/buyer">I want to buy</a>
            </div>
        </div>
        
        
    </div>
</div>


 

