<p>
    <mat-toolbar color="primary">
      <div class="homeBtn">
        <button mat-fab color="accent" aria-label="Home" [routerLink]="['/']">
          <mat-icon>home</mat-icon>
        </button>
      </div>
    <span class="toHide">My dreamed house</span>
    <span class="example-spacer"></span>

    <button mat-raised-button class= "optionsBtn" color="accent" [routerLink]="['/vendor']">Sell</button>
    <button mat-raised-button class= "optionsBtn" color="accent" [routerLink]="['/buyer']">Buy</button>
    <button mat-raised-button class= "optionsBtn" color="accent" [routerLink]="['/about']">About</button>
    

    </mat-toolbar>
</p>