<div class="globalContainer">
    <app-header></app-header>

    <div class="bgHome">
      <div class="infoContainer">
          <div><h2>About the application <i>My Dreamed House</i></h2></div>
          <div>
            <p>This application was created by Daniela González, it is part of a developer portfolio, and it wasn't created for commercial purposes. </p>
            <p>The main concepts/technology used are:</p>
            <p><strong>Front End:</strong></p>
            <div>
                <ul>
                    <li><p>Framework: Angular.</p></li>
                    <li><p>Azure web static apps.</p></li>
                    <li><p>Google maps.</p></li>
                    <li><p>Angular material</p></li>
                    <li><p>Images manipulation (from file to base64 and vice versa).</p></li>
                    <li><p>API REST consumption.</p></li>
                    <li><p>Lazy load.</p></li>
                    <li><p>Reactive forms</p></li>
                    <li><p>Angular hooks (OnInit, OnChanges, AfterViewInit).</p></li>
                    <li><p>Bootstrap, CSS, HTML.</p></li>
                </ul>
            </div>
            <p>The code is available <a href="https://github.com/danygogo/CopyHousesApp-FrontEnd">here</a>*.</p>



            <p><strong>Back End:</strong></p>
            <div>
                <ul>
                    <li><p>Framework: .NET Core.</p></li>
                    <li><p>Azure App Services.</p></li>
                    <li><p>Database: Azure SQL database.</p></li>
                    <li><p>SQL Stored procedures.</p></li>
                    <li><p>Images manipulation: From base64 to byte[ ] and vice versa</p></li>
                    <li><p>HTTP methods: post, get and put</p></li>
                </ul>
            </div>
            <p>The code is available <a href="https://github.com/danygogo/CopyHousesApp-BackEnd">here</a>*.</p>
            <br>
            <p>* The repository is a copy from the original, this is because the original has private connection strings and passwords</p>
        </div>
      </div>  
    </div>
</div>
